// Base
@import "_base/config", "_base/animations";

// Layouts

// Components

// Custom css
.form-group {
  margin-bottom: 0;
}
.col-class {
  .dark {
    background: coral;
    color: white;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px gray;
    div {
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 2px solid white;
    }
  }
}

.col-functional {
  .dark {
    background: darkcyan;
    color: white;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px gray;
    div {
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 2px solid white;
    }
  }
}
